<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueToDo</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <h1 class="logo">VueToDo</h2>
    <form @submit.prevent>
      <input type="text" class="input-text" v-model="newTask">
      <button class="add-button" @click="addTask">
        add
      </button>
      <ul>
        <li v-for="(task, index) in tasks">
          <label :for="'complete-checkbox' + index">
          <input type="checkbox" :id="'complete-checkbox' + index" v-model="task.isDone" @change="taskComplete">
          <span :class="{ done: task.isDone }">{{ task.item }}</span>
          </label>
          <button class="delete-button" @click="deleteTask(index)">Delete</button>
        </li>
      </ul>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>
